<div class="main-conatiner">
  
    <header>
      <div class="menu-container">
        <div class="menu-btn">
        </div>
        <h1 class="page-title">Application Resources and Templates</h1>
      </div>
    </header>
  
    <div class="content">
  
      <div class="resource-items">
        <div class="resource">
          <a target="_blank" href="https://github.com/AceInfoSolutions">
            <img src="../../assets/img/Github-logo.png" alt="">
            <h2>Github Repository</h2>
          </a>
        </div>
        <div class="resource">
          <a target="_blank" href="https://discover.doveltech.com/">
            <img src="../../assets/img/dovel-logo.png" alt="">
            <h2>Discover Dovel</h2>
          </a>
        </div>
        <div class="resource">
          <a href="">
            <img src="../../assets/img/prototype-logo.png" alt="">
            <h2>App Prototypes</h2>
          </a>
        </div>
      </div>
  
    </div>
  
  </div>