<div class="main-container">

    <header>
        <div class="menu-container">
            <div class="menu-btn"></div>
            <h1 class="page-title">Security & Compliance Services</h1>
        </div>
    </header>

    <div class="servicelist">

        <a routerLink="/security-scanning">
            <div class="serv1">
                <svg></svg>
                <h2>Security Scanning</h2>
            </div>
        </a>

        <a routerLink="/compliance-checks">
            <div class="serv2">
                <svg></svg>
                <h2>Compliance Checks</h2>
            </div>
        </a>

        <a routerLink="/security-policies">
            <div class="serv3">
                <svg></svg>
                <h2>Security Policies</h2>
            </div>
        </a>

    </div>

</div>