<section class="usa-hero" aria-label="Register">
    <div class="content">
        <div class="main-text-login" style="float:left">
            <h1>Autonomic Computing <br> Platform (ACP)</h1>
            <p class="par">Patterned on the human body's self healing autonomic nervous system</p>
        </div>

        <div id="form-container-2" class="usa-hero__callout"
            style="width:100%; margin-right:auto;">
            <div class="form-container">
                <form class="usa-form">
                    <fieldset class="usa-fieldset">
                        <legend class="usa-legend" style="color:#fff;">Create an Account</legend>
                        <span>Already have one? <a routerLink="/login" style="color:#fff;">Sign in</a></span>

                        <div class="error-msg" *ngIf="error">{{ error }}</div>

                        <label class="usa-label" style="color:#fff;" for="firstname">First Name</label>
                        <input class="usa-input" id="firstname" name="firstname" type="text" [(ngModel)]="firstname"
                            required>

                        <label class="usa-label" style="color:#fff;" for="lastname">Last Name</label>
                        <input class="usa-input" id="lastname" name="lastname" type="text" [(ngModel)]="lastname"
                            required>

                        <label class="usa-label" style="color:#fff;" for="email">Email</label>
                        <input class="usa-input" id="email" name="email" type="email" [(ngModel)]="email" required>

                        <label class="usa-label" style="color:#fff;" for="username">Username</label>
                        <input class="usa-input" id="username" name="username" type="text" [(ngModel)]="username"
                            required>

                        <label class="usa-label" style="color:#fff;" for="password">Password</label>
                        <input class="usa-input" id="password" name="password" type="password" [(ngModel)]="password"
                            required>

                        <label class="usa-label" style="color:#fff;" for="confirmPassword">Confirm Password</label>
                        <input class="usa-input" id="confirmPassword" name="confirmPassword" type="password"
                            [(ngModel)]="confirmPassword" required>

                        <button class="usa-button" type="button" (click)="register()" [disabled]="loading">
                            <span *ngIf="loading">Please Wait...</span>
                            <span *ngIf="!loading">Create Account</span>
                        </button>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>