<div class="main-container">
  <header>
    <div class="menu-container">
      <div class="menu-btn">
      </div>
      <h1 class="page-title">Autonomic Computing Platform (ACP) Services</h1>
    </div>
  </header>

  <div class="services">
    <div class="top-row">
      <div class="IS">
        <a class="usa-nav__link" routerLink="/infraservices">
          <div><img src="../../assets/img/1.PNG" alt=""></div>
        </a>
      </div>
      <div class="AS">
        <a class="usa-nav__link" routerLink="/appservices"><img src="../../assets/img/2.PNG" alt=""></a>
      </div>
      <div class="SCS">
        <a routerLink="/security-compliance">
          <img src="../../../assets/img/3.PNG" alt="">
        </a>
      </div>
    </div>
    <div class="bottom-row">
      <div class="ADS">
        <a routerLink="/automation-deployment">
          <img src="../../assets/img/4.PNG" alt="">
        </a>
      </div>
      <div class="FSOA">
        <a routerLink="['/FSOA']" href="#"><img src="../../assets/img/5.PNG" alt=""></a>
      </div>
      <div class="ISA">
        <a routerLink="['/ISA']" href="#"><img src="../../assets/img/6.PNG" alt=""></a>
      </div>
    </div>
  </div>