<div class="container">

  <div class="create-header-box">
    <div class="header-subtitle">INFRASTRUCTURE SERVICES</div>
    <div class="create-header-title">
      VIEW CLOUD INFRASTRUCTURE
    </div>
  </div>

  <!-- No Infra Message -->
  <div *ngIf="deployments.length === 0" class="empty">
    No Infrastructure Created
  </div>

  <!-- Scrollable Table -->
  <div class="infra-table" *ngIf="deployments.length > 0">

    <!-- Header -->
    <div class="table-header">
      <div>Cloud</div>
      <div>Name</div>
      <div>Type</div>
      <div>Status</div>
      <div>Region</div>
      <div>Account ID</div>
      <div>Actions</div>
    </div>

    <!-- Rows -->
    <div class="table-body">
      <div class="table-row" *ngFor="let d of deployments" (click)="openDeployment(d)">
        <div class="cloud">
          <div class="cloud-badge">
            <img *ngIf="d.cloud === 'AWS'" src="assets/img/AWS-transparent.png" />

            <img *ngIf="d.cloud === 'AZURE'" src="assets/img/AZURE-transparent.png" />

            <img *ngIf="d.cloud === 'GCP'" src="assets/img/GCP-transparent.png" />
          </div>
        </div>
        <div>{{ d.name }}</div>
        <div>{{ d.type }}</div>
        <div class="status">{{ d.status }}</div>
        <div>{{ d.region }}</div>
        <div>{{ d.account }}</div>
        <div>
          <button class="delete-btn" [disabled]="d.status === 'Deleting' || d.status === 'Creating'"
            (click)="deleteDeployment($event, d)">
            {{ d.status === 'Deleting' ? 'Deleting...' : 'Delete' }}
          </button>
        </div>
      </div>
    </div>

  </div>

</div>