<footer class="usa-footer usa-footer--slim">

  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col-3 tablet:grid-offset-9" *ngIf="showHelperBot" style=" margin-bottom:0;margin-top:0;list-style-type:none;
          padding-left:0;
          position:absolute;
          z-index:400;margin-top:-400px;right:0;margin-left:50px">

        <div style="background-color:white;" class="listed_service_top">
          <div class="service_menu">
            <div class="grid-row">
              <div class="grid-col-10">
                <h3 style="margin-top:10px">
                  Helper Bot
                </h3>
              </div>
              <div class="grid-col-1">
                <h3 style="margin-top:10px;padding-right:10px;cursor:pointer;">
                  <fa-icon [icon]="faMinusCircle"></fa-icon>
                </h3>
              </div>
              <div class="grid-col-1">
                <h3 style="margin-top:10px;padding-right:10px;cursor:pointer;">
                  <fa-icon [icon]="faTimesCircle"></fa-icon>
                </h3>
              </div>
            </div>

          </div>
          <!-- <app-chatbot [passedInput]="text"></app-chatbot> -->
        </div>

      </div>
    </div>



    <!-- 
      <div class="grid-row" >
      <div class="tablet:grid-col-2 usa-footer__return-to-top">
        <a (click)="gotoTop()" style="cursor:pointer;">Return to Top</a>
      </div>
      <div class="grid-col-8"></div>
      <div class="tablet:grid-col-2 usa-footer__return-to-top" >
        <a style="cursor:pointer;" (click)="showHelpBot()" >HelperBot</a>
      </div>
    </div>
    -->

  </div>


  <!--
    <div *ngIf="this.curUser" class="grid-row" style="background-color:rgb(76, 184, 72);width:100%;color:white;margin-top:-2%;">
    <button class="usa-menu-btn" style="width:100%">Menu</button>
    <nav aria-label="Primary navigation" class="usa-nav" style="background-color:rgb(76, 184, 72)">
    <button class="usa-nav__close"><img src="/assets/img/close.svg" alt="close"></button>
    <ul class="usa-nav__primary usa-accordion">
    <li class="usa-nav__primary-item">
    <a class="usa-nav__link" routerLink="" style="color:white;font-size:18px">
    <span><fa-icon [icon]="faHome"></fa-icon> Home</span>
    </a>
    </li>
    <button class="usa-nav__primary-item" style="font-size:18px;text-align:right;" (click)="this.chatBot = !this.chatBot;">
    <span style="color:white;font-size:18px"> <fa-icon [icon]="faFolderOpen"></fa-icon> Chatbot</span>
    </button>
    </ul>
    </nav>
    </div>

  -->

  <div class="footer-icons-container">

    <div class="footer-item">
      <img src="assets/img/cloud.png" alt="Cloud">
      <p>CLOUD</p>
    </div>

    <div class="footer-item">
      <img src="assets/img/automation.png" alt="Automation">
      <p>AUTOMATION</p>
    </div>

    <div class="footer-item">
      <img src="assets/img/ai.png" alt="AI">
      <p>ARTIFICIAL INTELLIGENCE</p>
    </div>

    <div class="footer-item">
      <img src="assets/img/opensource.png" alt="Open Source">
      <p>OPEN SOURCE</p>
    </div>

  </div>

  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap-2" style="display:flex; justify-content: center;">
        <div class="footer-space" style="color:rgb(14, 75, 163);margin-top:4%">
          <a href="http://www.autonomicsolutionsllc.com/" target="_blank"><b>Autonomic Solutions LLC</b> - Proprietary
            and Confidential</a>
        </div>
      </div>
    </div>
  </div>
</footer>